@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Cause:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
   font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar{
  display:none;
}
